<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form method="POST" action="/user_input">
    <p> Enter a word/phrase: <input type="text" name="phrase"></p>
    <input type="submit">
    </form>

  </body>
</html>
